html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#main-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
  gap: 20px;
}

button.choice {
  flex: auto;
  width: 200px;
  height: 175px;
}

img {
  height: 150px;
  width: 125px;
}

#rock {
}
